name: daily_expense_tracker
description: Expense tracker Flutter client
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: ^6.1.2
  http: ^1.2.2
  google_fonts: ^6.2.1
  intl: ^0.19.0
  shimmer: ^3.0.0
  flutter_slidable: ^3.1.1
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
